<footer>
    <div class="container yla-footer">
        <div>
            <h2>myapp</h2>
            <p>Tämä on tekemäni aplikaatio!</p>
        </div>
        <div></div>
        <div></div>
        <div>
            <h4>Sivut</h4>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact us</a></li>
        </div>
    </div>
    <div class="container ala-footer">
        <p>© Tuomas Valkamo</p>
    </div>
</footer>