@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0 auto;
}

body {
  font-family: "Montserrat";
  font-size: 18px;
  background-image: url("../src/assets/double-bubble-outline.png");
  background-repeat: repeat;
  background-size: initial;
}

.site-main {
  min-height: 70vh;
  padding: 50px 0;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 30% auto;

  a {
    color: white;
  }
}

section {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}

.page-name {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5%;
}
