.user-grid {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  width: 100%;
  max-width: 100%;

  .user-item {
    background: #f5f5f5;
    padding: 60px 40px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    border-top: 8px solid #7700ff;

    img {
      margin-bottom: 20px;
    }

    p {
      margin: 0;
    }

    .user-name {
      font-weight: 700;
      margin-bottom: 10px;
    }

    .user-email {
      font-weight: 400;
      font-size: 0.8em;
    }
  }
}
