ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    background: rgb(238, 238, 238);
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 7px;
    display: grid;
    grid-template-columns: 60px auto;

    > * {
      align-self: center;
    }

    p {
      margin: 5px 0 0 20px;
    }

    img {
      border-radius: 50%;
      width: 100%;
    }

    .user-name {
      font-weight: 700;
    }

    .user-email {
      font-weight: 400;
    }
  }
}
